html, body
{
    background-color: #F1F5F9;
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.wrapper
{
    height: 96%;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.gateway_header
{
    flex: 2;
    text-align: center;
}
.gateway_form
{
    flex: 6;
    display: flex;
    flex-direction: column;
}
.gateway_buttons
{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.text_theme
{
    color: #6047FF;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

span
{
    color: #7D7E80;
    font-size: 14px;
    line-height: 12px;
}

a
{
    text-decoration: none;
    color: black;
}

.pinput
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

.pinput_item
{
    border: none;
    color: black;
    font-size: 32px;
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 20px;
    height: 20px;
    border-radius: 4px;
    outline: 1px solid black;
}

form
{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_number_input
{
    border: none;
    color: black;
    width: calc(100% - 20px);
    font-size: 20px;
    padding: 10px;
    height: 20px;
    border-radius: 4px;
    outline: 1px solid black;
}

.amount
{
    font-weight: bold;
    font-size: 18px;
}

.call_to_action
{
    font-weight: bold;
    font-size: 28px;
}

.primary_btn
{
    color: white;
    background-color: #6047FF;
    border-color: #6047FF;
}

.secondary_btn
{
    background-color: transparent;
    border-color: black;
    color: black;
    outline: none;
}

.btn {
    border: 1px solid black;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    height: 40px;
}

/* Media Queries */

@media only screen and (max-width: 300px) 
{
    .wrapper
    {
        width: 90%;
    }

    .pinput
    {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) 
{
    .wrapper
    {
        width: 80%;
    }

    .pinput
    {
        width: 70%;
    }
}

@media only screen and (min-width: 600px) 
{
    .pinput
    {
        width: 70%;
    }
}